---
import Send from "./icons/Send.astro";
import SocialPill from "./SocialPill.astro";

const PRECIOS = [
  {
    titulo: "Landing Básica",
    precio: 1500,
    moneda: "MXN",
    caracteristicas: [
      { texto: "1 sección principal (scroll)", incluido: true },
      { texto: "Diseño responsive", incluido: true },
      { texto: "Optimización SEO básica", incluido: true },
      { texto: "Formulario de contacto", incluido: true },
      { texto: "Sistema administrador", incluido: false },
      { texto: "Dominio y hosting incluidos", incluido: false },
    ],
    boton: {
      texto: "Solicitar ahora",
      link: "https://wa.me/528334273620?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20web%20(Landing%20Básica).%20Me%20gustar%C3%ADa%20saber%20m%C3%A1s%20detalles.%20%C2%BFPodemos%20hablar%3F",
    }
  },
  {
    titulo: "App Móvil Básica",
    precio: 2500,
    moneda: "MXN",
    caracteristicas: [
      { texto: "Diseño personalizado", incluido: true },
      { texto: "Publicación en Expo/Android", incluido: true },
      { texto: "Pantallas básicas (inicio, login...)", incluido: true },
      { texto: "Sin backend avanzado", incluido: false },
      { texto: "Sin autenticación", incluido: false },
      { texto: "No incluye panel admin", incluido: false },
    ],
    boton: {
      texto: "Solicitar app",
      link: "https://wa.me/528334273620?text=¡Hola!%20Estoy%20interesado%20en%20el%20paquete%20de%20App%20(App%20B%C3%A1sica).%20Me%20gustar%C3%ADa%20saber%20m%C3%A1s%20detalles.%20%C2%BFPodemos%20hablar%3F",
    }
  },
];
---


<div class="flex flex-col md:flex-row justify-center gap-6">
  {PRECIOS.map((plan) => (
    <div class="w-full max-w-sm p-4 border sm:p-8 border-gray-200 rounded-lg shadow-sm bg-black/20 dark:border-gray-700">
      <h5 class="mb-4 text-xl font-medium text-gray-500 dark:text-gray-400">{plan.titulo}</h5>
      <div class="flex items-baseline text-gray-900 dark:text-white">
        <span class="text-3xl font-semibold">$</span>
        <span class="text-5xl font-extrabold tracking-tight">{plan.precio.toLocaleString()}</span>
        <span class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400">{plan.moneda}</span>
      </div>
      <ul role="list" class="space-y-5 my-7">
        {plan.caracteristicas.map((caracteristica) => (
          <li class={`flex items-center ${!caracteristica.incluido ? "line-through decoration-gray-500" : ""}`}>
            {caracteristica.incluido ? "✅" : "❌"}
            <span class={`ms-2 text-base ${caracteristica.incluido ? "text-gray-500 dark:text-gray-400" : "text-gray-500 dark:text-gray-500"}`}>
              {caracteristica.texto}
            </span>
          </li>
        ))}
      </ul>
      <SocialPill href={plan.boton.link}>
        <Send class="size-4 md:size-6" />
        {plan.boton.texto}
      </SocialPill>
    </div>
  ))}
</div>